@media (max-width: 450px) {
    .MuiSlider-markLabel {
        display: none;
    }
}

.print-comp {
    display: none;
}

@media print {
    .print-comp {
        display: initial;
    }
}

/* .dateField {
  display: none !important;
  overflow: hidden;
} */
